html {
    scroll-behavior: smooth;
}


:root {
  --primary-color: #1C3144;
  --secondary-color: #819595;
  --dark-color: #A41623;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
/* modal */
.modal form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
}


.appt-modal-content {
  position: relative;
background-color: #ffffff;
margin: auto;
color: #333333;
padding: 0;
border: 1px solid #888;
display: flex;
flex-direction: column;
width: 90%;
height: 80%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
}

/* Floating btn */


.floating-btn {
  background-color: var(--success-color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  z-index: 5;
  opacity: 1;
  right: 2rem;
  bottom: 2rem;
  transition: all ease .5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.568);
  cursor: pointer;
}

.floating-btn:hover{
 opacity: .8;
}

.floating-btn i {
  position: absolute;
  left: 1.3rem;
  top: 1.4rem;
}





/* Nav */
.nav {
  background-color: var(--primary-color);
  gap: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: start;
  z-index: 100;
  opacity: 1;
}


.nav .nav-actions .btn-call {
    display: none;
}

.nav .nav-actions li a {
    color: #edf2f4;
}

.nav .nav-actions {
    padding-left: 1.3rem;
}



.nav i {
  display: block;
}



.nav .nav-links li a {
    color: #edf2f4;
}

.nav .nav-links {
  gap: 4rem;
  z-index: 5;
}

.nav-links {
  position: absolute;
  right: 0;
  top: 4.17rem;
  width: 60%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding: 2rem;
}

.nav-links li {
  opacity: 0;
}

.nav-links li #active {
  border-bottom: none;
  color: yellow;
}

.nav .burger {
  display: block;
  margin-left: auto;
  padding-right: 1.3rem;
}

.nav .logo {
  display: none;
}

.nav .logo a .mobile {
  display: block;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0.8;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* Drop Down */
.dropDown-elements {
  display: none;
}

.drop {
  display: none;
}

/* Covid Banner */
.banner .mobile {
  display: inline;
}

.banner .widescreen {
  display: none;
}

/* Main page Mobile */


.hero .content {
    display: none;
}

.main .hero-logo {
  display: block;
  width: 55%;
  position: relative;
  top: 4rem;
  left: 3;
  padding: 0;
}

.main {
  display: block;
  flex-direction: column;
  height: 80vh;
}
.main .call-to-action {  
  text-align: left;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.4rem;
  height: fit-content;
  height: 80%;
  width: auto;
}

.main .call-to-action .btn-call {
  display: block;
  font-size: medium;
  margin-top: 3rem;
  width: auto;
  padding: .2rem 3rem;
  border-radius: 100px;
}

.main .call-to-action .video-link {
    display: none;
}

.main .call-to-action i {
  display: none !important;
}


.main .call-to-action h1 {
  position: relative;
  left: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-top: 2rem;
}

.main .call-to-action h1 br {
  display: none;
}

.main .call-to-action p {
  position: relative;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: lighter;
  left: 1rem;
}

.main .call-to-action a {
  position: relative;
  left: -4rem;
  top: -3rem;
}

.main .action-img {
  display: none;
}

.main .action-img img {
  display: none;
}

/* Pricing mobile */


.pricing {
  background-color: #ededed;
  height: 90vh;
  width: 100%;
}

.pricing .pricing-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.pricing-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: left;
  width: auto;
  line-height: .5rem;
  height: 100%;
  margin-bottom: 5rem;
}




.pricing-left .pricing-left-heading {
  font-weight: bold;
  font-size: larger;
}


.pricing-left br {
  display: none;
}

.pricing-left h1 {
 font-size: medium;
 margin: 0;
}

.pricing-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: auto;
}

.pricing-right h3 {
  font-size: larger;
      white-space: nowrap;

}

.pricing-right-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
  text-align: left;
  }


.pricing-right-details span {
  display: none;
}

.pricing-right-details i {
  position: relative;
  top: 1.8rem;
  color: #435fa5;
}

.pricing-right-details-heading {
  font-size: large;
  font-weight: bold;
  margin-bottom: .9rem;
  white-space: nowrap;
}


.pricing-right-details:last-of-type p:last-of-type {
  text-align: center;
}


/* About */

.about {
  background-color: #000a23;
  height: 75vh;
  color: white;
}

.about h1 {
  position: relative;
  left: 1rem;
  top: 3rem;
  z-index: 2;
  font-size: 1.5rem;

}

.about .about-main {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 2rem;
}

.about-main .about-image {
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.about-image img {
  height: 430px;
}


.about-message {
  text-align: left;
  position: relative;
  top: -6.8rem;
  left: 2rem;
  z-index: 1;
}



/* Enroll */
.enrol .enrol-container {
  background: var(--light-color);
  padding: 0.2rem;
  width: 100%;
  margin-right: 3rem;
  border-radius: 0.8rem;
}

.enrol {
  background-color: var(--light-color);
  color: rgb(54, 55, 114);
  width: 100vw;
}

.enrol .enrol-container form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  line-height: 1.5;
  padding: 0.5rem;
}

.enrol .phone-number a {
  color: black;
}

/* Testimonials */
.testimonials .testimonial-wrapper .testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  border-bottom: rgba(51, 51, 51, 0.205) 1px solid;
  padding: 1rem;
}

.testimonials .testimonial-wrapper .testimonial .profile img {
  width: 80px;
  border-radius: 120px;
}

/* Contact us */

.contact-us .form-container form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
}

.contact-us .phone {
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: #fff;
  width: 80%;
  margin-left: 1rem;
  margin-right: 1.8rem;
}

/* Footer */
.footer-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.app-footer {
  background-color: #1f1f1f;
  position: relative;
  height: 100%;
  padding: 2rem;
  width: 100%;
}

.footer-contents .footer-item ul li {
  border-bottom: grey 1px dotted;
}

.footer-contents .footer-item .form-group {
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;
}

.footer-contents .footer-item .form-group .contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
}

.footer-contents .footer-item ul {
  margin: 1rem;
  text-align: center;
  letter-spacing: 3px;
}